@model ECommerceProject.Models.PromoCode

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PromoCode</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodeName" class="control-label"></label>
                <input asp-for="CodeName" class="form-control" />
                <span asp-validation-for="CodeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Messsage" class="control-label"></label>
                <input asp-for="Messsage" class="form-control" />
                <span asp-validation-for="Messsage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoOfUsers" class="control-label"></label>
                <input asp-for="NoOfUsers" class="form-control" />
                <span asp-validation-for="NoOfUsers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinimumOrderAmount" class="control-label"></label>
                <input asp-for="MinimumOrderAmount" class="form-control" />
                <span asp-validation-for="MinimumOrderAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountType" class="control-label"></label>
                <select asp-for="DiscountType" class="form-control" asp-items="@(new SelectList(Model.DiscountTypes))"></select>
                <span asp-validation-for="DiscountType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxDiscountAmount" class="control-label"></label>
                <input asp-for="MaxDiscountAmount" class="form-control" />
                <span asp-validation-for="MaxDiscountAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepeatUsage" class="control-label"></label>
                <select asp-for="RepeatUsage" class="form-control" asp-items="@(new SelectList(Model.RepeatUsages))"></select>
                <span asp-validation-for="RepeatUsage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PromoCodeStatus" class="control-label"></label>
                <select asp-for="PromoCodeStatus" class="form-control" asp-items="@(new SelectList(Model.PromoCodeStatuses))"></select>
                <span asp-validation-for="PromoCodeStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
