@model ECommerceProject.ViewModels.ProductViewModel
@{
	ViewData["Title"] = "Create";
}
<h4 class="pt-3">Product</h4>
<hr />

<div class="card">
	<div class="card-header">
		<h3 class="card-title">Create Product</h3>
	</div>
	<!-- /.card-header -->
	<div class="card-body">
		<div class="row">
			<div class="col-md-12">
				@if (ViewBag.ErrorMsg != null)
				{
					<div class="alert alert-danger">
						@ViewBag.ErrorMsg
					</div>
				}
				<form asp-action="Create" enctype="multipart/form-data">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label asp-for="Name" class="control-label"></label>
								<input asp-for="Name" class="form-control" />
								<span asp-validation-for="Name" class="text-danger"></span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label asp-for="Description" class="control-label"></label>
								<textarea id="summernote" asp-for="Description" class="form-control" >
									 Place <em>some</em> <u>text</u> <strong>here</strong>
								</textarea>
								<span asp-validation-for="Description" class="text-danger"></span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label asp-for="Price" class="control-label"></label>
								<input asp-for="Price" class="form-control" />
								<span asp-validation-for="Price" class="text-danger"></span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label asp-for="OfferPercentage" class="control-label"></label>
								<input asp-for="OfferPercentage" class="form-control" />
								<span asp-validation-for="OfferPercentage" class="text-danger"></span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label asp-for="Stock" class="control-label"></label>
								<input asp-for="Stock" class="form-control" />
								<span asp-validation-for="Stock" class="text-danger"></span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label asp-for="BrandId" class="control-label"></label>
								<select asp-for="BrandId" class="form-control" asp-items="ViewBag.BrandId">
									@*   <option value="">Select Brand</option> *@
								</select>
							</div>
						</div>
						

						<div class="col-md-6">
							<div class="form-group">
								<label asp-for="MainCategoryId" class="control-label"></label>
								<select asp-for="MainCategoryId" class="form-control" asp-items="ViewBag.MainCategoryId">
									<option value="">Select Main Category</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label asp-for="SubCategoryId" class="control-label"></label>
								<select asp-for="SubCategoryId" class="form-control" asp-items="ViewBag.SubCategoryId">
									<option value="">Select Sub Category</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label asp-for="IsAvailable" class="control-label" for="isAvailableToggle"></label>
								<div class="custom-control custom-switch mt-1">
									<input type="checkbox" class="custom-control-input" id="isAvailableToggle" asp-for="IsAvailable">
									<label class="custom-control-label" for="isAvailableToggle"></label>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label asp-for="Image" class="control-label"></label>
								<input asp-for="Image" class="form-control" />
								<span asp-validation-for="Image" class="text-danger"></span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<input type="submit" value="Create" class="btn btn-primary" />
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div>
	<a asp-action="Index">Back to List</a>
</div>



@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$('#MainCategoryId').change(function () {
				var mainCategoryId = $(this).val();
				$.ajax({
					url: '@Url.Action("GetSubCategories", "Product")',
					data: { mainCategoryId: mainCategoryId },
					success: function (data) {
						var subCategorySelect = $('#SubCategoryId');
						subCategorySelect.empty();
						$.each(data, function (index, subCategory) {
							subCategorySelect.append($('<option/>', {
								value: subCategory.id,
								text: subCategory.name
							}));
						});
					}
				});
			});
		});
	</script>
}


